In [1]:
def double(x):
    return x * 2

double(3)

6

In [2]:
triple = lambda x: x * 3
triple(3)

9

In [3]:
type(triple)

function

In [6]:
def double(x):
    return x * 2

def add_one(x):
    return x + 1

def add_two(x):
    return x + 2

def triple(x):
    return x * 3

In [8]:
number = 1
for func in [lambda x: x + 1, lambda x: x * 2, lambda x: x + 2]:
    number = func(number)
    print(number)

2
4
6

In [14]:
from functools import reduce

In [12]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
# sum via reduce
reduce(lambda x, y: x + y, numbers)
# prod via reduce
reduce(lambda x, y: x * y, numbers)

In [19]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.normal(0, 1, (10, 2)))
df.columns = ['column_a', 'column_b']
df

   column_a  column_b
0 -0.550118 -0.307309
1 -0.481699 -0.932584
2  0.027539 -0.012484
3 -1.141225 -0.909472
4 -1.149453  0.370322
5 -0.467637 -0.911405
6  2.643503 -1.081166
7  0.222883 -0.184397
8 -0.402410  1.237754
9 -0.918631 -0.780081

In [17]:
df.loc[lambda d: d['column_b'] > 0]

   column_a  column_b
0 -1.312020  1.744448
1 -1.930982  2.067213
2  0.466306  0.153760
3  2.845921  0.643085
9  1.368108  1.162910